
.dp-non{display: none;}
.dp-block{display: block;}
.dp-inline{display: inline-block;}

.popup-tit{ border-bottom:1px solid #e0e0e0; }

.txt-etc{ font-size:13px;}
.txt-unline{text-decoration: underline;}
.ft-blod{font-weight: 800!important;}
.ft-28{font-size: 28px!important;}
.ft-24{font-size: 24px!important;}
.ft-20{font-size: 20px!important;}
.ft-18{font-size: 18px!important;}
.ft-14{font-size: 14px!important;}
.ft-orange {color:#fe5151!important;}
.ft-orange {color:#fe5151!important;}
.ft-blue {color:#4777de!important;}
.ft-red {color: #f9534b!important;}
.ft-gray{color:#888!important;}
.ft-darkgray{color:#666!important;}
.ft-basic{color:#333!important;}
.ft-caution{font-size: 28px!important; color:#333!important; font-weight: 800!important;}

/* ui */
div .tc{text-align: center!important;}
div .tl{text-align: left!important;}
div .tr{text-align: right!important;}

.m-00{margin:0!important;}
.m-10{margin:10px!important;}
.m-12{margin:12px!important;}
.m-15{margin:15px!important;}
.m-20{margin:20px!important;}
.m-30{margin:30px!important;}

.mt-00{margin-top:0!important;}
.mt-10{margin-top:10px!important;}
.mt-12{margin-top:12px!important;}
.mt-15{margin-top:15px!important;}
.mt-20{margin-top:20px!important;}
.mt-30{margin-top:30px!important;}

.mb-00{margin-bottom:0!important;}
.mb-10{margin-bottom:10px!important;}
.mb-12{margin-bottom:12px!important;}
.mb-20{margin-bottom:20px!important;}
.mb-30{margin-bottom:30px!important;}

.ml-10{margin-left:10px!important;}
.ml-20{margin-left:20px!important;}
.ml-24{margin-left:24px!important;}
.ml-30{margin-left:30px!important;}
.ml-40{margin-left:40px!important;}

.mr-00{margin-right:0!important;}
.mr-10{margin-right:10px!important;}
.mr-20{margin-right:20px!important;}
.mr-30{margin-right:30px!important;}
.mr-40{margin-right:40px!important;}

.p-00{padding:0!important;}
.p-10{padding:10px!important;}
.p-15{padding:15px!important;}
.p-20{padding:20px!important;}
.p-30{padding:30px!important;}
.p-40{padding:40px!important;}

.pt-00{padding-top:0!important;}
.pt-10{padding-top:10px!important;}
.pt-15{padding-top:15px!important;}
.pt-20{padding-top:20px!important;}
.pt-30{padding-top:30px!important;}
.pt-40{padding-top:40px!important;}

.pl-00{padding-left:0!important;}
.pl-10{padding-left:10px!important;}
.pl-15{padding-left:15px!important;}
.pl-20{padding-left:20px!important;}
.pl-30{padding-left:30px!important;}
.pl-40{padding-left:40px!important;}

.pr-00{padding-right:0!important;}
.pr-10{padding-right:10px!important;}
.pr-15{padding-right:15px!important;}
.pr-20{padding-right:20px!important;}
.pr-30{padding-right:30px!important;}
.pr-40{padding-right:40px!important;}

.pb-00{padding-bottom:0!important;}
.pb-10{padding-bottom:10px!important;}
.pb-15{padding-bottom:15px!important;}
.pb-20{padding-bottom:20px!important;}
.pb-30{padding-bottom:30px!important;}
.pb-40{padding-bottom:40px!important;}

.w100 {width: 100% !important;}

/* v-autolinker css */
.autolinker {
  color: #3867C6;
  font-weight: 600;
  display: inline-block;
  word-break: break-all;
  white-space: pre-wrap;
}

.attendancelinker {
  color: #00f;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px; /* 150% */
  letter-spacing: -0.2px;
  text-decoration: underline;
  display: inline-block;
  word-break: break-all;
  white-space: pre-wrap;
}

/* editor */
figure a img {
  width: 100%;
}

/* custom scroll */
.custom-scr{
  &::-webkit-scrollbar {
    background-color: transparent;
    width: 12px;
    height: 12px;
  }
  &::-webkit-scrollbar-thumb {
  background: #d3d1cb;
  background-clip: padding-box;
  border: 2px solid transparent;
  border-radius: 50px;
  }
  &::-webkit-scrollbar-track { background-color: transparent; }
}

/* bg color */
.bg-default {
  background: var(--gray-06);
  color: #fff;
}
.bg-primary {
  background: var(--primary);
  color: #fff;
}
.bg-secondary {
  background: var(--secondary);
  color: #fff;
}
.bg-success {
  background: var(--success);
  color: #fff;
}
.bg-info {
  background: var(--info);
  color: #fff;
}
.bg-warning {
  background: var(--warning);
  color: var(--gray-10);
}
.bg-purple {
  background: var(--purple);
  color: var(--white);
}
.bg-yellow {
  background: var(--yellow);
  color: var(--white);
}
.bg-jungle {
  background: var(--jungle);
  color: var(--white);
}
.bg-orange {
  background: var(--orange);
  color: var(--white);
}
.bg_white {
  background: var(--white);
  color: var(--gray-10);
}
.bg-black {
  background: var(--black);
  color: var(--white);
}
.bg-gray {
  background: #EEEEEE;
  color: #006ACC;
}

.bg-sky {
  background: #C1E1FF;
  color: #006ACC;
}

/* txt color */
.txt-default {
  color: var(--gray-06);
}
.txt-primary {
  color: var(--primary);
}
.txt-secondary {
  color: var(--secondary);
}
.txt-success {
  color: var(--success);
}
.txt-info {
  color: var(--info);
}
.txt-warning {
  color: var(--warning);
}
.txt-purple {
  color: var(--purple);
}
.txt-yellow {
  color: var(--yellow);
}
.txt-jungle {
  color: var(--jungle);
}
.txt-orange {
  color: var(--orange);
}
.txt-white {
  color: #fff;
}
.txt-black {
  color: #000;
}

/* txt align */
.txt-center {
  text-align: center !important;
}
.txt-left {
  text-align: left !important;
}
.txt-right {
  text-align: right !important;
}
.float-center {
  float: center !important;
}
.float-left {
  float: left !important;
}
.float-right {
  float: right !important;
}
.j-center {
  justify-content: center !important;
}
.j-right {
  justify-content: end !important;
}
.j-left {
  justify-content: start !important;
}
.a-start {
  align-items: start !important;
}
.a-middle {
  align-items: center !important;
}
.a-bottom {
  align-items: end !important;
}

// @mixin spaceMq($cate, $size: '') {
//   $attr : '';

//   @if $cate == m {
//     $attr : 'margin';
//   }

//   @else if $cate == p {
//     $attr : 'padding';
//   }

//   @for $i from 0 to 6 {
//     $space: '';

//     @if $i == 3 {
//       $space : 1rem;
//     }

//     @else if $i == 4 {
//       $space : 1.5rem;
//     }

//     @else if $i == 5 {
//       $space : 3rem;
//     }

//     @else {
//       $space : $i * 0.25rem;
//     }

//     .#{$cate}#{$size}-#{$i} {
//       #{$attr}: calc($space) !important;
//     }

//     .#{$cate}t#{$size}-#{$i} {
//       #{$attr}-top: calc($space) !important
//     }

//     .#{$cate}r#{$size}-#{$i} {
//       #{$attr}-right: calc($space) !important;
//     }

//     .#{$cate}b#{$size}-#{$i} {
//       #{$attr}-bottom: calc($space) !important;
//     }

//     .#{$cate}l#{$size}-#{$i} {
//       #{$attr}-left: calc($space) !important;
//     }
//   }
// }

// /* margin & padding respon */
// @include spaceMq(m);
// @include spaceMq(p);

// @media (min-width: 576px) {
//   @include spaceMq(m, -sm);
//   @include spaceMq(p, -sm);
// }

// @media (min-width: 768px) {
//   @include spaceMq(m, -md);
//   @include spaceMq(p, -md);
// }

// @media (min-width: 992px) {
//   @include spaceMq(m, -lg);
//   @include spaceMq(p, -lg);
// }

// @media (min-width: 1200px) {
//   @include spaceMq(m, -xl);
//   @include spaceMq(p, -xl);
// }