@mixin iconName($name) {
	&.ico-#{$name}::after {
		-webkit-mask-image: url("../../img/svg/ico-#{$name}.svg");
		mask-image: url("../../img/svg/ico-#{$name}.svg");
	}
}
@mixin iconColor($color-name, $color-value) {
	&.ico-bg-#{$color-name},
	&.ico-#{$color-name}::after {
		background-color:#{$color-value};
	}
	&.ico-line-#{$color-name} {
		border-color: $color-value;
		&::after {
			background-color: $color-value;
		}
	}
}
/* Icon Style */
.hi-ico {
	display: inline-flex;
	width: 24px;
	height: 24px;
	border: 2px solid transparent;
	padding: 3px;
	box-sizing: content-box;
	&::after {
		display: inline-block;
		content: "";
		width: 100%;
		height: 100%;
		background-position: center;
		background-repeat: no-repeat;
		background-size: 100%;
		background-color: $black;
		-webkit-mask-image: url("../../img/svg/ico-none.svg");
		mask-image: url("../../img/svg/ico-none.svg");

		/* 아이콘 색상 설정 */
		-webkit-mask-repeat: no-repeat;
		mask-repeat: no-repeat;
		-webkit-mask-position: center;
		mask-position: center;
		-webkit-mask-size: contain;
		mask-size: contain;
	}

	/* 아이콘 색상 */
	@include iconColor(default, $default);
	@include iconColor(primary, $primary);
	@include iconColor(secondary, $secondary);
	@include iconColor(success, $success);
	@include iconColor(info, $info);
	@include iconColor(warning, $warning);
	@include iconColor(purple, $purple);
	@include iconColor(yellow, $yellow);
	@include iconColor(jungle, $jungle);
	@include iconColor(orange, $orange);
	@include iconColor(black, $black);
	@include iconColor(white, $white);
	@include iconColor(disabled, $disabled);

	// 아이콘 사이즈
	&.ico-size-18 {
		width: 18px;
		height: 18px;
	}
	&.ico-size-20 {
		width: 20px;
		height: 20px;
	}
	&.ico-size-24 {
		width: 24px;
		height: 24px;
	}
	&.ico-size-28 {
		width: 28px;
		height: 28px;
	}
	&.ico-size-32 {
		width: 32px;
		height: 32px;
	}
	&.ico-size-36 {
		width: 36px;
		height: 36px;
		padding: 5px;
	}
	&.ico-size-50 {
		width: 50px;
		height: 50px;
		border-width: 3px;
		padding: 10px;
	}
	&.ico-size-100 {
		width: 100px;
		height: 100px;
		border-width: 5px;
		padding: 15px;
	}

	&.ico-rounded {
		border-radius: 100px;
	}

	&.ico-bitrounded {
		border-radius: 4px;
	}

	//아이콘 이름
	@include iconName(none);
	@include iconName(listmove);
	@include iconName(plus);
	@include iconName(minus);
	@include iconName(chart);
	@include iconName(close-circle-fill);
	@include iconName(speech-bubble);
	@include iconName(volume);
	@include iconName(sort-up);
	@include iconName(sort-down);
	@include iconName(printer);
	@include iconName(pointlist);
	@include iconName(file-upload);
	@include iconName(file-down);
	@include iconName(time-fill);
	@include iconName(time);
	@include iconName(refresh);
	@include iconName(refresh2);
	@include iconName(expand);
	@include iconName(shrink);
	@include iconName(drawnup);
	@include iconName(close);
	@include iconName(close2);
	@include iconName(close3);
	@include iconName(delete);
}
i.ico-listmove {
	display: inline-block;
	width: 24px;
	height: 24px;
	background: url("../../img/icon/ico_listmove.svg");
}
i.close-btn01 {
	display: inline-block;
	width: 24px;
	height: 24px;
	background: url("../../img/icon/icon_mnclose_24.svg");
}
.icon-unlock-fill {
	display: inline-block;
	background: url("../../img/icon/ic_unlock_fill_20.svg");
	width: 20px;
	height: 20px;
}
