/* Typography */
 
/* board List */
.board-list {
	width: 100%;
	height: 100%;
	border-radius: 6px;
	border: 1px solid #e0e0e0;
	overflow: auto;
	
	&::-webkit-scrollbar {width: 14px}	
	&::-webkit-scrollbar-track {background: transparent}	
	&::-webkit-scrollbar-thumb {
		background: #cfd3db;
		background-clip: padding-box;
		border: 3px solid transparent;
		border-radius: 50px;
		border-top: 0;
		border-bottom: 0
	}

	.board{
		.board-name {
			width: 100%;
			height: 56px;
			border-bottom: 1px solid #eee;
			display: flex;
			align-items: center;
			position: relative;

			&.on {
				background: rgba(71,120,222,.0784313725490196)
			}
			
			> .title{
				width: 100%;
				height: 100%;
				display: flex;
				align-items: center;
				font-size: 16px;
				font-weight: 400;
				color: #222;
				padding: 0 20px;
				input[type=radio]+label,
				input[type=checkbox] + label {
					display: flex;
					height: 100%;
					width: 100%;
					align-items: center
				}					
			}
			> .auth {
				font-size: 13px;
				font-weight: 400;
				color: #9e9e9e;
				position: absolute;
				right: 20px;
				pointer-events: none
			}
		}			
		> ul > li {
			width: 100%;
			height: 52px;
			margin: 0;
			padding: 0 30px;
			display: flex;
			align-items: center;
			background: #fafafa;
			position: relative;

			&:not(:first-child):before {
				content: "";
				position: absolute;
				left: 15px;
				top: 0;
				height: 1px;
				width: calc(100% - 30px);
				border-top: 1px solid #eee
			}
			
			&.on {
				background: rgba(71,120,222,.0784313725490196)
			}
			
			&:first-child {
				border-top: 0
			}
			
			span {
				display: inline-block;

				&.check,
				&.check input[type=radio]+label {
					display: -webkit-box;
					display: -ms-flexbox;
					display: flex;
					height: 100%;
					width: 100%;
					-webkit-box-align: center;
					-ms-flex-align: center;
					align-items: center
				}
			}
		}
		
		.board-name label span.chk-title,
		ul li label span.chk-title {
			font-size: 15px;
			font-weight: 400;
			color: #222;
			margin-left: 8px;
			display: -webkit-inline-box;
			display: -ms-inline-flexbox;
			display: inline-flex;
			-webkit-box-align: center;
			-ms-flex-align: center;
			align-items: center
		}
		
		.board-name:hover label span.chk-title,
		.board-name input[type=radio].dis+label span.chk-title,
		.board-name input[type=radio]:checked+label span.chk-title,
		ul li:hover label span.chk-title,
		ul li input[type=radio].dis+label span.chk-title,
		ul li input[type=radio]:checked+label span.chk-title {
			font-weight: 600
		}
		
		ul li label span.chk-title i {
			display: inline-block;
			width: 10px;
			height: 10px;
			border-radius: 50%;
			margin-right: 5px
		}
	}
}

.option-list{
	> ul {
		overflow: auto;
		max-height: 168px;
		> li {
			position: relative;
			height: 50px;
			display: flex;
			align-items: center;
			padding: 10px 15px;		
			
			&.is-selected,
			&:hover{ 
				background-color: #f6f6f6;
			}
		}		
	}		

	&.type01{
		> ul > li {
			padding: 0;		
			button{
				&.item{
					display: flex;
					align-items: center;
					height: 100%;
					width: 100%;
					padding: 10px 15px;
					font-size: 15px;
				}
				&.prepend,
				&.append{
					display: none;
					align-items: center;
					justify-content: center;			
					position: absolute;	
					top: 0;
					width: 50px;
					height: 100%;
				}
				&.prepend{
					left: 0;
				}
				&.append{
					right: 0;
				}
			}
			&.is-selected,
			&:hover{ 
				.prepend, .append{
					display: flex
				}
			}
		}		
	}		
	button.add {
		display: flex;
		padding: 13px 15px;
		height: 50px;
		font-size: 15px;
		gap: 6px;
		align-items: center;
		width: 100%;
		border-top: 1px solid #e0e0e0;
		color: #ff8737
	}
}
