.hi-selectbox ::-webkit-scrollbar {
  background-color: transparent;
  width: 8px;
}
.hi-selectbox ::-webkit-scrollbar-thumb {
  background-color: #cfd3db;
  border-radius: 8px;
  border: 2px solid #fff;
}
.hi-selectbox ::-webkit-scrollbar-track { background-color: transparent; }
.hi-selectbox { 
  position: relative;
  display: inline-block;
  vertical-align: middle;
}
.hi-selectbox .option__layer {
  display: none;
  overflow-y: auto;
  z-index: 1;
  position: absolute;
  top: 42px;
  left: 0;
  width: 100%;
  max-height: 220px;
  background-color: #fff;
  border: 1px solid #e0e0e0;
  border-radius: 4px;
  box-shadow: 0px 12px 15px rgba(0, 0, 0, 0.16);
}
.hi-selectbox .option__layer .option {
  display: block;
  width: 100%;
  color: #222;
  font-size: 14px;
  line-height: 1.5;
  text-align: left;
  word-break: break-all;
  padding: 10px 16px;
}
.hi-selectbox .option__layer .option.is-selected,
.hi-selectbox .option__layer .option:hover { background-color: rgba(71, 120, 222, 0.08); }
.hi-selectbox .option__layer .option:not(:first-of-type) { border-top: 1px solid #e0e0e0; }
.hi-selectbox .selected {
  display: block;
  width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  position: relative;
  background-color: #fff;
  color: #222;
  font-size: 15px;
  line-height: 38px;
  text-align: left;
  padding-right: 10px;
  padding: 0 24px 0 16px;
  border: 1px solid #e0e0e0;
  border-radius: 4px;
}
.hi-selectbox .selected::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 12px;
  display: inline-block;
  width: 7px;
  height: 7px;
  border-bottom: 1px solid #222;
  border-left: 1px solid #222;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  margin-top: -7px;
}
.hi-selectbox .selected:disabled { background-color: #eee;color: #888 !important; }
.hi-selectbox .selected:disabled::after { border-color: #bdbdbd !important; }
.hi-selectbox .selected input {
  width: 100%;
  border: 0;
  padding: 0;
  line-height: 38px;
  vertical-align: top;
}
.hi-selectbox.is-opened .option__layer { display: block; }
.hi-selectbox.is-opened .selected { border-color: #222; }
.hi-selectbox.is-opened .selected::after {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
  margin-top: -2px;
}