/* Button Style */
@mixin btnStyle($bg, $font:$color-white, $border:$bg, $focus) {
	color:$font;
	background: $bg;
	border-color:$border;	
	&:hover:not(.disabled,:disabled) {
		background:darken($bg,10%);
		border-color: darken($border,10%);
		transition: all 0.3s ease;
	}
	&:active:not(.disabled,:disabled) {
	  background:darken($bg,10%);
		border-color: darken($bg,10%);
		transition: all 0.3s ease;
	  } 
	&:focus:not(.disabled,:disabled) {
		box-shadow:0 0 0 3px $focus;
	}
	
	> span.ico{background-color:darken($bg,10%);}
}

button {
	cursor: pointer; 
	font-weight: var(--font-bold); 
	&:focus {outline: 0;}	
	span {pointer-events: none;}  
}

.btn {
	display: inline-block;
	padding: 0.5rem 1rem;
	border-radius: .3rem;
	border:1px solid #ccc;
	background-color: transparent;
	text-align: center;
	vertical-align: middle;
	font-family: var(--font-body);
	font-weight: var(--font-bold); 
	font-size: 1.5rem;
	line-height: 1.5;
	text-decoration: none;
	cursor: pointer;
	transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	word-break: keep-all;
	
	@include btnStyle(transparent, $font:#212529, $border:#ccc, $focus:rgb(119 119 119 / 31%));
	
	&.disabled, 
	&:disabled{
		color: #999;
		pointer-events: none;
		background-color: rgb(0 0 0 / 17%);
		border-color:#ddd;
		opacity: 0.65;
	}		
	
	/* 버튼 사이즈 */
	&-sm { padding: 0.2rem 0.7rem; font-size: 1.4rem; }
	&-lg { padding: 0.7rem 1.5rem; font-size: 1.6rem; }
	
	/* 버튼 스타일 */
	&-primary   { @include btnStyle(#000, $focus:rgb(20 122 218 / 35%)); }
	// &-secondary { @include btnStyle($color-secondary, $focus:rgb(119 119 119 / 31%)); }
	// &-special   { @include btnStyle($color-specail, $focus:rgb(119 119 119 / 31%)); }
	// &-success   { @include btnStyle($color-success, $focus:rgb(0 76 147 / 30%)); }
	// &-info      { @include btnStyle($color-info, $focus:rgb(255 153 0 / 31%)); }
	// &-danger    { @include btnStyle($color-danger, $focus:rgb(220 53 69 / 30%)); }
	// &-dark      { @include btnStyle($color-dark, $focus:rgb(68 68 68 / 30%)); }
	// &-sky       { @include btnStyle(#C1E1FF, $font:#006ACC, $border:#C1E1FF, $focus:rgb(156 207 255 / 30%)); }
	// &-default   { @include btnStyle($color-default, $focus:rgb(217 217 217 / 30%)); }
	// &-gray      { @include btnStyle($color-gray, $font:$color-dark, $border:$color-default, $focus:rgb(217 217 217 / 30%)); }
	// &-link      { border:0; border-radius: 0; }
		
	
	&.btn-ico-l {
	  padding-left: 4.4rem;
	  
	   > span { left: 0; }
	}
	
	&.btn-ico-r {
	  padding-right: 4.4rem;
	  
	   > span { right: 0; }
	}
	
	/* 버튼 그룹 */
	&-group {
		position: relative; display: inline-flex; vertical-align: middle;
	  
		> &:not(:first-child), 
		> .btn:not(:first-child) { margin-left: -1px; }
		
		> &:not(:last-child) > .btn, 
		> .btn:not(:last-child):not(.dropdown-toggle) { border-top-right-radius: 0; border-bottom-right-radius: 0; }
		
		> &:not(:first-child) > .btn,
		> .btn:nth-child(n+3),
		> :not(.btn-check) + .btn { border-top-left-radius: 0; border-bottom-left-radius: 0; }
	}
}